body {
    margin: 50px 200px;
}



.submit-area {
    margin-top: 50px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
    padding: 40px
}

.btn {
    outline: none;
}

#transaction-area {
    display: none;
}

/* deposit area */
.deposit {
    background-color: slateblue;
}

/* Withdraw */
.withdraw {
    background-color: lightsalmon;
}

/* Balance */
.balance {
    background-color: orange;
}

.status {
    padding: 20px 30px;
    border-radius: 10px;
    color: white;
    text-align: center;

}